@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Quem somos?</h1>

<p>Somos um ecommerce criado em Maio de 2024 com o intuito de facilitar a entrega dos melhores chocolates sem precisar sair de casa.</p>
